/vendor/
/build
/tests/Performance/Data/*.csv
.php_cs.cache
.phpunit.result.cache

.idea
.DS_store

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###
